@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 86%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 43 95% 44%;
    --primary-text: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 5.9% 10%;
    --secondary-foreground: 240 4.8% 95.9%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 92.4%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 87%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 220 25% 5%;
    --foreground: 0 0% 94%;

    --card: 222 31% 15%;
    --card-foreground: 0 0% 94%;

    --popover: 222 31% 15%;
    --popover-foreground: 0 0% 94%;

    --primary: 55 80% 43%;
    --primary-text: 0 0% 98%;
    --primary-foreground: 222 31% 15%;

    --secondary: 222 31% 15%;
    --secondary-foreground: 0 0% 94%;

    --muted: 222 31% 15%;
    --muted-foreground: 222 20% 40%;

    --accent: 222 31% 15%;
    --accent-foreground: 0 0% 94%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 94%;

    --border: 222 31% 15%;
    --input: 222 31% 15%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}